.row_posters{
   display: flex;
   overflow-x: scroll;
}

.row_poster{
   height: 300px;
   width: 200px;
   object-fit: contain;
   transition: transform 0.3s;
   padding: 20px;
   
}
.row_poster::webkit-scrollbar{
   display: none;
}
.row_poster:hover{
   transform: scale(1.09);
}
.banner{
   
}