

.row {
  padding: 20px;
  text-transform: uppercase;
  font-family: ubuntu;
  font-size: 1.2rem;
  font-weight: 700;
}

.row_posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row_poster {
  max-height: 100px;
  width: 100%;
  transition: transform 0.3s;
  margin-right: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.4);
}
.row_postersLarge {
  height: 500px;
  width: 120%;
}